{% extends "diablofarm_base.html" %}

{% block title %}
DiabloFarm
{% endblock %}

{% block description %}
Diablo Farming Tracker
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 well">
      <h2>{{ farm_group.title }}</h2>
      <p>Record of your last {{ farm_events|length}} individual farming runs - to access/export <a href="{% url 'farm_group_export' farm_group_id=farm_group.id %}">everything (slow)</a></p>
      {% if farm_events %}
      <ul class="list-unstyled">

      <li>
        <div class="table-responsive">
        <table class="table table-bordered table-condensed">
         <tr>
          <th>Date</th>
          <th>Start</th>
          <th>End</th>
          <th>Diff min:sec</th>
          <th>DB</th>
          <th>Legendary</th>
          <th>Bounty</th>
          <th>BS</th>
          <th>Exp</th>
          <th></th>
         </tr>
         {% for farm_event in farm_events %}
         <tr>
          <td>{{ farm_event.start_time|date:"SHORT_DATE_FORMAT" }}</td>
          <td>{{ farm_event.start_time|date:"H:i:s" }}</td>
          <td>{{ farm_event.end_time|date:"H:i:s" }}</td>
          <td>{{ farm_event.time_diff|time:"i.s" }}</td>

          <td>{{ farm_event.death_breath_count }}</td>
          <td>{{ farm_event.legendary_count }}</td>
          <td>{{ farm_event.bounty_count }}</td>
          <td>{{ farm_event.blood_shard_count }}</td>
          <td>{{ farm_event.experience_count }}</td>
          <td>
            <a href="{% url 'farm_event' farm_group_id=farm_group.id farm_event_id=farm_event.id %}">
              <button type="button" class="btn btn-default">Edit</button>
            </a>
          </td>
         </tr>
        {% endfor %}
        </table>
        </div>
      </li>
      </ul>
      {% endif %}

      <a href="{% url 'farm_event' farm_group_id=farm_group.id %}">
      <button type="button" class="btn btn-default">Add</button>
      </a>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}