{% extends "diablofarm_base.html" %}

{% block title %}
DiabloFarm
{% endblock %}

{% block description %}
Diablo Farming Tracker
{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>DiabloFarm</h1>
    <p>Diablo Farming Tracker</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 well">
      <h2>Farming Groups</h2>
      <p>Group your farming events together for quick comparrison.</p>
      {% if farm_groups %}
      <ul>
      {% for farm_group in farm_groups %}
      <li><a href ="{% url 'farm_group' farm_group.id %}">{{ farm_group.title }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}